# Build Results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Visual Studio
.vs/

# OS junk
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# Environment files
.env

# dotCover
*.dotCover
